<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Joinin</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- dropdown menu stuff -->

</head>
<style>
.navbar-default{
    background-color: transparent;
    border-color: transparent;
    color: white;
}
.control-label{
    color:#33334C;
}

.signin{
    background-color:#FEC503;
}

.signin:focus{
    background-color:#FEC503;
}

.signin:active{
    background-color:#FEC503;
}
</style>
<body id="page-top" class="index">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-module" style="padding-top: 200px;">

    <div class="form-group">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :first_name, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :last_name, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Sign up", class: "btn btn-primary signin" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
<% end %>