<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Starter Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!-- Custom Navbar for Matchmaking splash page -->
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">joinin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if user_signed_in? %>
                    <li>
                      <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
                    </li>
                    <li>
                      <a class="page-scroll" href="/users/edit">Edit Account</a>
                    </li>
                    <% else %>

                          <!--<a class="page-scroll" href="/users/sign_in">signin</a>-->
                    <li>
                          <!-- If we want to use a dropdown menu -->
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">signin<span class="caret"></span></a>
                          <ul id="dropdown-login" class="dropdown-menu" style="padding: 5px 10px 5px 10px;">
                              <%= form_for(:user, :url => session_path(:user)) do |f| %>
                              <li>
                                  <div class="control-group">
                                      <%= f.label :email, :class => "control-label" %>
                                      <div class ="controls">
                                          <%= f.text_field :email %>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="control-group">
                                      <%= f.label :password, :class => "control-label" %>
                                      <div class="controls">
                                          <%= f.password_field :password %>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="control-group">
                                      <%= f.label :remember_me, :class => "control-label" %>
                                      <div class ="controls">
                                          <%= f.check_box :remember_me %>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <%= f.submit "sign in", :class => "btn btn-primary signin" %>
                              </li>
                              <% end %>
                          </ul>   
                    </li>
                    <li>
                        <a class="page-scroll" href="/users/sign_up">Sign Up</a>
                    </li>
                    <% end %>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>





    <center>
        <div class="input-group" style="padding-top: 200px;">
            <input type="text" class="form-control" placeholder="Location" id="location-box">
        </div>

    </center>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>