<div>
  <h1>This is the event postings page</h1>
</div>

<% @posts.each do |post| %>
    <div class="panel panel-default">
      <p> <%= post.title %> </p>
      <p> <%= post.address %> </p>
      <p> <%= post.start_time.to_time.strftime("%b %d, %Y on %I:%M %p") %></p>
      <p> <%= post.end_time.to_time.strftime("%b %d, %Y on %I:%M %p") %></p>
      <p> <%= post.body %> </p>
      <li> Follow </li>
    </div>
<% end %>