<div class="page-header">
<h1>Post</h1>
</div>

<div>
  <p> <%= @post.title %> </p>
  <p> <%= @post.address %> </p>
  <p> <%= @post.start_time %></p>
  <p> <%= @post.end_time %></p>
  <p> <%= @post.body %> </p>
</div>

<div>
  <%= link_to "Follow", follow_post_path, class: "btn btn-default" %>
  <%= link_to "Back", posts_path, class: "btn btn-default" %>
</div>

<div>
  <%= form_tag "/posts/new_comment" do %>
      <%= hidden_field_tag "id", @post.id %>
      <%= text_area_tag "comment[comment]" %>
      <p> <%= submit_tag "Post Comment" %> </p>
  <% end %>
</div>