
<div class="container" data-no-turbolink="true">



<div class="page-header">
<h1><%= @post.title %></h1>
</div>
  <p class="text-muted"> <%= @post.address %> </p>
  <p class="text-muted"> Start Time : <%= @post.start_time.to_time.strftime("%b %d, %Y on %I:%M %p")  %></p>
  <p class="text-muted"> End Time : <%= @post.end_time.to_time.strftime("%b %d, %Y on %I:%M %p") %></p>
  <p class="text-muted"> <%= @post.body %> </p>

  <h4> Comments</h4>


  <%= render :partial => 'comments/comment', :locals => {:post => @post} %>
  <%= render :partial => 'comments/form', :locals => {:commentable => @post} %>

  <%= render :partial => 'follows/form', :locals => {:followable => @post} %>
	<%= link_to "Back", posts_path, class: "btn btn-default" %>

</div>


