<div class="page-header">
<h1>Post</h1>
</div>

<div>
  <p> <%= @post.title %> </p>
  <p> <%= @post.address %> </p>
  <p> <%= @post.start_time %></p>
  <p> <%= @post.end_time %></p>
  <p> <%= @post.body %> </p>
</div>

<%= link_to "Follow", follow_post_path, class: "btn btn-default" %>
<%= link_to "Home", posts_path, class: "btn btn-default" %>
